/* My Work */

section.my-work .section-heading {
  text-align: center;
  padding: 80px 45px 50px 45px;
}

.isotope-wrapper {
  position: relative;
  width: 100%;
  margin: auto;
}

.isotope-toolbar input[type="radio"] {
  display: none;
}

.isotope-toolbar span {
  text-transform: capitalize;
  display: inline-block;
  margin-right: 15px;
  padding-bottom: 3px;
  font-size: 15px;
  font-weight: 700;
  border-bottom: 2px solid transparent;
  transform: ease-in-out 0.5s;
  cursor: pointer;
}

.isotope-toolbar input[type="radio"]:checked + span {
  color: #a43f49;
  border-bottom: 2px solid #a43f49;
}

.isotope-box {
  position: relative;
  width: 100%;
}

.isotope-toolbar {
  text-align: center;
  margin: 10px;
}

.isotope-toolbar p {
  border-top: 1px solid #fff;
  padding-top: 15px;
}

.isotope-toolbar a {
  color: #fff;
}

.isotope-item img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.lazyload {
  background: #f7f7f7;
}

.lazyloading {
  background: #f7f7f7 url(//afarkas.github.io/lazysizes/assets/imgs/loader.gif)
    no-repeat center;
  min-height: 60px;
}

figure.snip1321 {
  overflow: hidden;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
}

figure.snip1321 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

figure.snip1321 figcaption {
  top: 50%;
  left: 20px;
  right: 20px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}

figure.snip1321 h4 {
  margin-top: 15px;
  margin-bottom: 5px;
  color: #232323;
}

figure.snip1321 span {
  font-size: 14px;
  font-style: italic;
  display: block;
  color: #7a7a7a;
}

figure.snip1321 svg {
  position: relative !important;
  font-size: 12px;
  background-color: #a43f49;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
}

figure.snip1321:after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}

figure.snip1321 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

figure.snip1321:hover figcaption,
figure.snip1321.hover figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

figure.snip1321:hover:after,
figure.snip1321.hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 0.9;
}

@media screen and (max-width: 845px) {
  #menu-toggle,
  #menu-close {
    display: inline-block;
  }
  .menu {
    width: 320px;
    -webkit-transform: translateX(-100%) !important;
    transform: translateX(-100%) !important;
    transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
    transition: transform 233ms cubic-bezier(0, 0, 0.21, 1);
    transition: transform 233ms cubic-bezier(0, 0, 0.21, 1),
      -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
  }
  .menu .image {
    margin-top: 40px;
  }
  .menu .image img {
    width: 120px;
    height: 120px;
  }
  .menu .author-content {
    margin: 20px 0px 40px 0px;
  }
  .menu .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .menu.open {
    display: inline-block;
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
  }
  .responsive-nav {
    display: inline-block;
  }
  .section {
    width: 94%;
    right: 3%;
    left: 3%;
  }

  .left-image-post img {
    margin-bottom: 30px;
  }
  .right-image-post img {
    margin-top: 30px;
  }
  .isotope-toolbar {
    margin-bottom: 20px;
  }
}
